<!doctype html>
<html>
    <title>AJAX Client</title>
    <body>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script>
<!--            function response() {-->
<!--                $('#d1').text('response call back')};-->

                function ajaxtest() {
                    $.post("/test", {})
                    .done(function() { $('#d1').text("No error occurred"); })
                    .fail(function() { $('#d1').text("An error occurred"); })
                }

<!--            function ajaxtest() {-->
<!--                $('#d1').text("updating");-->
<!--                $.post('/test', {-->
<!--                }).done(function(response) {-->
<!--                    $('#d1').text("valid response")-->
<!--                }).fail(function() {-->
<!--                    $('#d1').text("An error occurred");-->
<!--                });-->
<!--                $('#d1').text("done updating");-->
<!--            }-->
        </script>

        <h1>AJAX Client</h1>

        unformatted datetime:
        <span id="d1">?</span>
        <br>
        <a href="javascript:ajaxtest();">update</a>

    </body>
</html>
